services:
  supplier-polling-service:
    build: ./supplier-polling-service
    container_name: supplier-polling-service
    ports:
      - "4003:4003"
    restart: on-failure
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - mmtext_network

  redis:
    image: redis:7.2
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - mmtext_network

volumes:
  redis_data:

networks:
  mmtext_network:
    driver: bridge