spring:
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
#    table: listing_service_flyway_schema_history
    baseline-version: 0
  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 4000
